$fonts: 1,
2,
3,
4;

$borderColors: (primary: yellow,
  secondary: black,
  warning: purple,
  danger: green,
  success: pink);

$colors: (primary: green,
  secondary: grey,
  warning: orange,
  danger: red,
  success: pink);

// Partial / Module